version: "3"
services:
  app:
    build: ./app
    container_name: flask
    links:
      - db
    ports:
      - "5000:5000"
  db:
    image: mysql:5.7
    container_name: mysqldb
    ports:
      - "32000:3306"
    environment:
      - MYSQL_ROOT_PASSWORD
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
